<style>
/*header, main, footer
{
padding-left: 240px;
}*/

body, html
{
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: show;
}

#mainbox
{
  height: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

</style>



<ul id="nav-mobile" class="side-nav fixed" style="overflow: auto; translate(0%); margin-top: 64px;">
  <li class = "bold">
    <div>
      <a><b>Breweries</b></a>
      <form>
        <div class="input-field">
          <input id="search" type="search" required>
          <label for="search"><i class="material-icons">search</i></label>
          <i class="material-icons">close</i>
        </div>
      </form>
      <ul class="collapsible" data-collapsible="accordion">
        <li>
          <div class="collapsible-header waves-effect waves-teal"><i class="material-icons">filter_drama</i>Components</div>
          <div class="collapsible-body waves-effect waves-teal" onclick="water()"><p style="padding-top:0px; padding-bottom:0px">Water</p></div>
          <div class="collapsible-body waves-effect waves-teal" onclick="hops()"><p style="padding-top:0px; padding-bottom:0px">Hops</p></div>
          <div class="collapsible-body waves-effect waves-teal" onclick="starchsource()"><p style="padding-top:0px; padding-bottom:0px">Starch Source</p></div>
          <div class="collapsible-body waves-effect waves-teal" onclick="yeast()"><p style="padding-top:0px; padding-bottom:0px">Yeast</p></div>
          <div class="collapsible-body waves-effect waves-teal" onclick="clarifyingagent()"><p style="padding-top:0px; padding-bottom:0px">Clarifying Agent</p></div>
        </li>
        <li>
          <div class="collapsible-header waves-effect waves-teal" onclick="ale()"><i class="material-icons">place</i>Ale</div>
          <div class="collapsible-body waves-effect waves-teal" onclick="brownale()"><p style="padding-top:0px; padding-bottom:0px">Brown Ale</p></div>
          <div class="collapsible-body waves-effect waves-teal" onclick="ipa()"><p style="padding-top:0px; padding-bottom:0px">Indian Pale Ale</p></div>
          <div class="collapsible-body waves-effect waves-teal" onclick="paleale()"><p style="padding-top:0px; padding-bottom:0px">Pale Ale</p></div>
          <div class="collapsible-body waves-effect waves-teal" onclick="mildale()"><p style="padding-top:0px; padding-bottom:0px">Mild Ale</p></div>
        </li>
        <li>
          <div class="collapsible-header waves-effect waves-teal" onclick="lager()"><i class="material-icons">whatshot</i>Lager</div>
          <div class="collapsible-body waves-effect waves-teal" onclick="palelager()"><p style="padding-top:0px; padding-bottom:0px">Pale Lager</p></div>
          <div class="collapsible-body waves-effect waves-teal" onclick="viennalager()"><p style="padding-top:0px; padding-bottom:0px">Vienna Lager</p></div>
          <div class="collapsible-body waves-effect waves-teal" onclick="darklager()"><p style="padding-top:0px; padding-bottom:0px">Dark Lager</p></div>
        </li>
        <li>
          <div class="collapsible-header waves-effect waves-teal" onclick="stout()"><i class="material-icons">whatshot</i>Stout</div>
          <div class="collapsible-body waves-effect waves-teal" onclick="milkstout()"><p style="padding-top:0px; padding-bottom:0px">Milk Stout</p></div>
          <div class="collapsible-body waves-effect waves-teal" onclick="porter()"><p style="padding-top:0px; padding-bottom:0px">Porter</p></div>
        </li>
        <li>
          <div class="collapsible-header waves-effect waves-teal" onclick="wheatbeer()"><i class="material-icons">whatshot</i>Wheat Beer</div>
          <div class="collapsible-body waves-effect waves-teal" onclick="lambic()"><p style="padding-top:0px; padding-bottom:0px">Lambic</p></div>
        </li>
      </ul>
    </div>
  </li>
</ul>


<script>

function clarifyingagent() {
  document.getElementById("bname").innerHTML = "Clarifying Agent";
  document.getElementById("bdesc").innerHTML = "<%= render :file => '/app/assets/textfiles/ingredients/clarifyingagent.txt' %>"
}
function hops() {
  document.getElementById("bname").innerHTML = "Hops";
  document.getElementById("bdesc").innerHTML = "<%= render :file => '/app/assets/textfiles/ingredients/hops.txt' %>"
}
function starchsource() {
  document.getElementById("bname").innerHTML = "Starch Source";
  document.getElementById("bdesc").innerHTML = "<%= render :file => '/app/assets/textfiles/ingredients/starchsource.txt' %>"
}
function water() {
  document.getElementById("bname").innerHTML = "Water";
  document.getElementById("bdesc").innerHTML = "<%= render :file => '/app/assets/textfiles/ingredients/water.txt' %>"
}
function yeast() {
  document.getElementById("bname").innerHTML = "Yeast";
  document.getElementById("bdesc").innerHTML = "<%= render :file => '/app/assets/textfiles/ingredients/yeast.txt' %>"
}


function ale() {
  document.getElementById("bname").innerHTML = "Ale";
  document.getElementById("bdesc").innerHTML = "<%= render :file => '/app/assets/textfiles/beertypes/ale.txt' %>"
}
function brownale() {
  document.getElementById("bname").innerHTML = "Brown Ale";
  document.getElementById("bdesc").innerHTML = "<%= render :file => '/app/assets/textfiles/beertypes/brownale.txt' %>"
}
function darklager() {
  document.getElementById("bname").innerHTML = "Dark Lager (Bock)";
  document.getElementById("bdesc").innerHTML = "<%= render :file => '/app/assets/textfiles/beertypes/darklager.txt' %>"
}
function ipa() {
  document.getElementById("bname").innerHTML = "India Pale Ale (IPA)";
  document.getElementById("bdesc").innerHTML = "<%= render :file => '/app/assets/textfiles/beertypes/ipa.txt' %>"
}
function lager() {
  document.getElementById("bname").innerHTML = "Lager";
  document.getElementById("bdesc").innerHTML = "<%= render :file => '/app/assets/textfiles/beertypes/lager.txt' %>"
}
function lambic() {
  document.getElementById("bname").innerHTML = "Lambic";
  document.getElementById("bdesc").innerHTML = "<%= render :file => '/app/assets/textfiles/beertypes/lambic.txt' %>"
}
function mildale() {
  document.getElementById("bname").innerHTML = "Mild Ale";
  document.getElementById("bdesc").innerHTML = "<%= render :file => '/app/assets/textfiles/beertypes/mildale.txt' %>"
}
function milkstout() {
  document.getElementById("bname").innerHTML = "Milk Stout";
  document.getElementById("bdesc").innerHTML = "<%= render :file => '/app/assets/textfiles/beertypes/milkstout.txt' %>"
}
function paleale() {
  document.getElementById("bname").innerHTML = "Pale Ale";
  document.getElementById("bdesc").innerHTML = "<%= render :file => '/app/assets/textfiles/beertypes/paleale.txt' %>"
}
function palelager() {
  document.getElementById("bname").innerHTML = "Pale Lager";
  document.getElementById("bdesc").innerHTML = "<%= render :file => '/app/assets/textfiles/beertypes/palelager.txt' %>"
}
function porter() {
  document.getElementById("bname").innerHTML = "Porter";
  document.getElementById("bdesc").innerHTML = "<%= render :file => '/app/assets/textfiles/beertypes/porter.txt' %>"
}
function stout() {
  document.getElementById("bname").innerHTML = "Stout";
  document.getElementById("bdesc").innerHTML = "<%= render :file => '/app/assets/textfiles/beertypes/stout.txt' %>"
}
function viennalager() {
  document.getElementById("bname").innerHTML = "Vienna Lager";
  document.getElementById("bdesc").innerHTML = "<%= render :file => '/app/assets/textfiles/beertypes/viennalager.txt' %>"
}
function wheatbeer() {
  document.getElementById("bname").innerHTML = "Wheat Beer";
  document.getElementById("bdesc").innerHTML = "<%= render :file => '/app/assets/textfiles/beertypes/wheatbeer.txt' %>"
}

$('li > a').click(function() {
  $('li').removeClass();
  $(this).parent().addClass('active');
});

function getHeight()
{
  var h = window.innerHeight;
  return h;
};

</script>

<style>
  div.contentbox2
  {
    background-color: white;
    margin-left: 240px;
    padding: 20px;
    height: 100%;
    width: calc(100% - 240px);
  }
</style>

<div class="contentbox2" style="">

<p class="bname" id="bname"> Beer </p>
<p class="bdesc" id="bdesc"><%= render :file => '/app/assets/textfiles/beertypes/beer.txt' %></p>

</div>
