<script>

  function clarifyingagent() {
    document.getElementById("bname").innerHTML = "Clarifying Agent";
    document.getElementById("bdesc").innerHTML = "<%= render :file => '/app/assets/textfiles/ingredients/clarifyingagent.txt' %>"
  }
  function hops() {
    document.getElementById("bname").innerHTML = "Hops";
    document.getElementById("bdesc").innerHTML = "<%= render :file => '/app/assets/textfiles/ingredients/hops.txt' %>"
  }
  function starchsource() {
    document.getElementById("bname").innerHTML = "Starch Source";
    document.getElementById("bdesc").innerHTML = "<%= render :file => '/app/assets/textfiles/ingredients/starchsource.txt' %>"
  }
  function water() {
      document.getElementById("bname").innerHTML = "Water";
      document.getElementById("bdesc").innerHTML = "<%= render :file => '/app/assets/textfiles/ingredients/water.txt' %>"
  }
  function yeast() {
      document.getElementById("bname").innerHTML = "Yeast";
      document.getElementById("bdesc").innerHTML = "<%= render :file => '/app/assets/textfiles/ingredients/yeast.txt' %>"
  }


  function ale() {
      document.getElementById("bname").innerHTML = "Ale";
      document.getElementById("bdesc").innerHTML = "<%= render :file => '/app/assets/textfiles/beertypes/ale.txt' %>"
  }
  function brownale() {
      document.getElementById("bname").innerHTML = "Brown Ale";
      document.getElementById("bdesc").innerHTML = "<%= render :file => '/app/assets/textfiles/beertypes/brownale.txt' %>"
  }
  function darklager() {
      document.getElementById("bname").innerHTML = "Dark Lager (Bock)";
      document.getElementById("bdesc").innerHTML = "<%= render :file => '/app/assets/textfiles/beertypes/darklager.txt' %>"
  }
  function ipa() {
      document.getElementById("bname").innerHTML = "India Pale Ale (IPA)";
      document.getElementById("bdesc").innerHTML = "<%= render :file => '/app/assets/textfiles/beertypes/ipa.txt' %>"
  }
  function lager() {
      document.getElementById("bname").innerHTML = "Lager";
      document.getElementById("bdesc").innerHTML = "<%= render :file => '/app/assets/textfiles/beertypes/lager.txt' %>"
  }
  function lambic() {
      document.getElementById("bname").innerHTML = "Lambic";
      document.getElementById("bdesc").innerHTML = "<%= render :file => '/app/assets/textfiles/beertypes/lambic.txt' %>"
  }
  function mildale() {
      document.getElementById("bname").innerHTML = "Mild Ale";
      document.getElementById("bdesc").innerHTML = "<%= render :file => '/app/assets/textfiles/beertypes/mildale.txt' %>"
  }
  function milkstout() {
      document.getElementById("bname").innerHTML = "Milk Stout";
      document.getElementById("bdesc").innerHTML = "<%= render :file => '/app/assets/textfiles/beertypes/milkstout.txt' %>"
  }
  function paleale() {
      document.getElementById("bname").innerHTML = "Pale Ale";
      document.getElementById("bdesc").innerHTML = "<%= render :file => '/app/assets/textfiles/beertypes/paleale.txt' %>"
  }
  function palelager() {
      document.getElementById("bname").innerHTML = "Pale Lager";
      document.getElementById("bdesc").innerHTML = "<%= render :file => '/app/assets/textfiles/beertypes/palelager.txt' %>"
  }
  function porter() {
      document.getElementById("bname").innerHTML = "Porter";
      document.getElementById("bdesc").innerHTML = "<%= render :file => '/app/assets/textfiles/beertypes/porter.txt' %>"
  }
  function stout() {
      document.getElementById("bname").innerHTML = "Stout";
      document.getElementById("bdesc").innerHTML = "<%= render :file => '/app/assets/textfiles/beertypes/stout.txt' %>"
  }
  function viennalager() {
      document.getElementById("bname").innerHTML = "Vienna Lager";
      document.getElementById("bdesc").innerHTML = "<%= render :file => '/app/assets/textfiles/beertypes/viennalager.txt' %>"
  }
  function wheatbeer() {
      document.getElementById("bname").innerHTML = "Wheat Beer";
      document.getElementById("bdesc").innerHTML = "<%= render :file => '/app/assets/textfiles/beertypes/wheatbeer.txt' %>"
  }

</script>



<h1 style="text-indent: 50px;">Beers</h1>

<div class="contentbox1">
  <div class="pubbox" onmouseover="this.style.background='beige';" onmouseout="this.style.background='white';" onclick="hops()">
    <p class="brewery">Hops</p>
  </div>
  <div class="pubbox" onmouseover="this.style.background='beige';" onmouseout="this.style.background='white';" onclick="water()">
    <p class="brewery">Water</p>
  </div>
  <div class="pubbox" onmouseover="this.style.background='beige';" onmouseout="this.style.background='white';" onclick="starchsource()">
    <p class="brewery">Starch Source</p>
  </div>
  <div class="pubbox" onmouseover="this.style.background='beige';" onmouseout="this.style.background='white';" onclick="yeast()">
    <p class="brewery">Yeast</p>
  </div>
  <div class="pubbox" onmouseover="this.style.background='beige';" onmouseout="this.style.background='white';" onclick="clarifyingagent()">
    <p class="brewery">Clarifying Agent</p>
  </div>
</div>

<div class="contentbox1">

      <div class="pubbox" onmouseover="this.style.background='beige';" onmouseout="this.style.background='white';" onclick="ale()">
        <p class="brewery">Ale</p>
      </div>
      <div class="pubbox" onmouseover="this.style.background='beige';" onmouseout="this.style.background='white';" onclick="brownale()">
        <p class="brewery2">Brown Ale</p>
      </div>
      <div class="pubbox" onmouseover="this.style.background='beige';" onmouseout="this.style.background='white';" onclick="ipa()">
        <p class="brewery2">India Pale Ale</p>
      </div>
      <div class="pubbox" onmouseover="this.style.background='beige';" onmouseout="this.style.background='white';" onclick="paleale()">
        <p class="brewery2">Pale Ale</p>
      </div>
      <div class="pubbox" onmouseover="this.style.background='beige';" onmouseout="this.style.background='white';" onclick="mildale()">
        <p class="brewery2">Mild Ale</p>
      </div>


      <div class="pubbox" onmouseover="this.style.background='beige';" onmouseout="this.style.background='white';" onclick="lager()">
        <p class="brewery">Lager</p>
      </div>
      <div class="pubbox" onmouseover="this.style.background='beige';" onmouseout="this.style.background='white';" onclick="palelager()">
        <p class="brewery2">Pale Lager</p>
      </div>
      <div class="pubbox" onmouseover="this.style.background='beige';" onmouseout="this.style.background='white';" onclick="viennalager()">
        <p class="brewery2">Vienna Lager</p>
      </div>
      <div class="pubbox" onmouseover="this.style.background='beige';" onmouseout="this.style.background='white';" onclick="darklager()">
        <p class="brewery2">Dark Lager</p>
      </div>

      <div class="pubbox" onmouseover="this.style.background='beige';" onmouseout="this.style.background='white';" onclick="stout()">
        <p class="brewery">Stout</p>
      </div>
      <div class="pubbox" onmouseover="this.style.background='beige';" onmouseout="this.style.background='white';" onclick="milkstout()">
        <p class="brewery2">Milk Stout</p>
      </div>
      <div class="pubbox" onmouseover="this.style.background='beige';" onmouseout="this.style.background='white';" onclick="porter()">
        <p class="brewery2">Porter</p>
      </div>

      <div class="pubbox" onmouseover="this.style.background='beige';" onmouseout="this.style.background='white';" onclick="wheatbeer()">
        <p class="brewery">Wheat Beer</p>
      </div>
      <div class="pubbox" onmouseover="this.style.background='beige';" onmouseout="this.style.background='white';" onclick="lambic()">
        <p class="brewery2">Lambic</p>
      </div>

</div>

<div class="contentbox2">

  <p class="bname" id="bname"> Beer </p>
  <p class="bdesc" id="bdesc"><%= render :file => '/app/assets/textfiles/beertypes/beer.txt' %></p>

</div>
