<script>
  function goBack() {
    window.history.back();
}
</script>

<div onclick="goBack()" style="display:inline; text-align: left; color:blue; width: 20px; font-weight: 300"><a>< < Back</a></div>
<div style="text-align: center">
<!---<h1>Brewery Info</h1>--->
<h2><%= @pub.name %></h2>
<% begin
  @pub.imgUrl %>
  <img src="<%= @pub.imgUrl %>" alt="Picture">
<% rescue %>
<% end %>

<p style="font-weight:bold"><%= @pub.address %>, <%= @pub.locality%></p>
<a target="_blank" href="<%=@pub.website%>"><p><%=@pub.website%></p></a>

<p style="white-space: pre-wrap; white-space: -moz-pre-wrap; white-space: -pre-wrap; white-space: -o-pre-wrap; word-wrap: break-word; "><%= @pub.description %></p>
<% if @pub && @bgid %>
  <p><a href=<%= "/set_meetup/" + @bgid + "/" + @pub.id.to_s %>>Select As destination for group</a></p>
<% end %>



<style>
  #map {
    display: inline-block;
    height: 300px;
    width: 400px;
  }
</style>
  <div id="map"></div>
  <%
  if @pubBeers.count > 0
  %>


  <h3>Beers at this Location:</h3>
  <table style="display: inline-block; text-align: center;">
    <thead>
      <tr style="text-decoration: underline">
        <td><b><p>Name</p></b></td>
        <td><b><p>Bitterness</p></b></td>
        <td><b><p>Alcohol Content</p></b></td>
        <td><b><p>Lightness</p></b></td>
        <td><b><p>Style</p></b></td>

      </tr>
    </thead>
    <tbody>
  <%
  @pubBeers.each do |pb|
    %>
    <tr>
      <%
      #@pub = Brewery.find(params[:id])
      @assocStyle = Style.where(:style_id => pb.style_id).first
      %>
      <td><%=pb.name%></td>
      <td><%=pb.ibu%></td>

      <%
      if pb.abv.blank?
        %>
        <td><%=pb.abv%></td>
        <%
      else
        %>
      <td><%=pb.abv%>%</td>
      <%
      end

      %>

      <td><%=pb.srmId%></td>
      <%
      if @assocStyle
        %>
        <td><a href="/style/<%=@assocStyle.id%>"><%=@assocStyle.name%></a></td>
        <%
      end

      %>
    </tr>
    <%
  end
  %>
  </tbody>
  </table>

<%end%>
</div>
  <script>
    var map;
    function initMap() {
      map = new google.maps.Map(document.getElementById('map'), {
        center: {lat: <%= @pub.latitude %>, lng: <%= @pub.longitude %>},
        zoom: 15
      });
      var marker = new google.maps.Marker({
        position: {lat: <%= @pub.latitude %>, lng: <%= @pub.longitude %>},
        map: map,
        title: '<%= @pub.name %>'
    });
    }
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCyx6w96mmMia6L8Rd__mCfaOxFO5sbFlE&callback=initMap"
  async defer></script>
