<h1>Brewery Info</h1>
<h2>Test: <%=request.location.state%></h2>
<br>
<h3><%= @pub.brewery.name %></h3>
<p><%= @pub.brewery.description %></p>
<p><%= @pub.street_address %></p>
<p>lat:<%=  @pub.latitude %>, long:<%=  @pub.longitude %></p>
<% begin
  @pub.brewery.images.medium %>
  <img src="<%= @pub.brewery.images.medium %>" alt="Picture">
<% rescue %>
<% end %>


Note: this is debug output, it very much needs to be made "pretty"

<%= @pub %>
