<head>
  <title>BrewHub</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'materialize', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'materialize.min', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'materialize', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'materialize.min', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
</head>


<h1 style="text-indent: 50px;">Breweries</h1>

<div class="contentbox1">

  <%@pubs.each do |p|%><!--- Add @allbreweries.each do |brewery| then interate over brewery for the method using IDs, trevor has saved the old code  --->
    <!--<a href=/pub/<%= p.id %>>-->
      <div class="pubbox" onmouseover="this.style.background='beige';" onmouseout="this.style.background='white';">
        <p class="brewery"><%= p.brewery.name %></p>
        <p class="location"><%= p.locality %></p>
      </div>
    <!--</a>-->
  <%end%>

</div>

<div class="contentbox2">

  <p id="brewdetails"> Brewery Details here </p>
  <p id="brewdetails"> <%= @pub %> </p>


</div>
