<style>
/*header, main, footer
{
padding-left: 240px;
}*/

body, html
{
  margin: 0;
  padding: 0;
  height: 100%;
  width:100%;
  overflow: show;
}

iframe.breweries_info
{
  background-color: white;
  margin-left:240px;
  height: 100vh;
  width: calc(100% - 240px);
}

iframe.breweries_info2
{
  background-color: white;
  margin-left:0;
  height: 100vh;
  width: 100%;
}

body
{
  overflow: hidden;
}

#mainbox
{
  background-color: white;
  height:100%;
  width:100%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.btn
{
  background-color: rgba(0,0,0,0);
}

.btn:active
{
  background-color: rgba(0,0,0,0);
}

.btn:hover
{
  background-color: rgba(0,0,0,0);
}
</style>

<script>
  $(document).ready(function() {
    $('select').material_select();
});
</script>
<ul id='dropdown1' class="dropdown-content">
  <li class = "bold">
    <div >
      <a><b>Breweries</b></a>
    </div>
  </li>
  <li class = "bold">
    <form>
      <div class="input-field">
        <%
        if params[:dist].nil? or params[:dist].blank?
          @distDefault = 10
        elsif params[:dist].to_f < 0.5
          @distDefault = 10
          @maxPubDist = 10
        else
          @distDefault = params[:dist]
        end

        %>
        <form action="/pubs/<%=@maxPubDist%>">
         <p>Enter search radius:</p>
          <input type="number" name="dist" min="0.5" step="0.5" value="<%=@distDefault%>">
          <input type="submit" value="Submit">
        </form>
      </div>
    </form>
  </li>
  <%@pubs.each do |p| %>
  <li class="bold">
    <a class="waves-effect waves-teal"; onclick="displayRight(&quot;<%= p.id %>&quot;)">
      <%=p.name%>
    </a>
  </li>
  <%end%>
</ul>

<ul id="nav-mobile" class="side-nav fixed" style="overflow: auto; translate(0%); margin-top: 64px;">
  <li class = "bold">
    <div >
      <a><b>Breweries</b></a>
    </div>
  </li>
  <li class = "bold">
  <form>
    <div class="input-field">
      <%
      if params[:dist].nil? or params[:dist].blank?
        @distDefault = 10
      elsif params[:dist].to_f < 0.5
        @distDefault = 10
        @maxPubDist = 10
      else
        @distDefault = params[:dist]
      end

      %>
      <form action="/pubs/<%=@maxPubDist%>">
       <p>Enter search radius (km):</p>
        <input type="number" name="dist" min="0.5" step="0.5" value="<%=@distDefault%>">
        <% if @allData == 1 %>
          <input type="hidden" name="lat" value="<%= @lat %>">
          <input type="hidden" name="lon" value="<%= @lon %>">
          <input type="hidden" name="gid" value="<%= @bgid %>">
        <% end %>
        <input type="submit" value="Submit">
      </form>
    </div>
  </form>
  </li>
  <%@pubs.each do |p| %>
  <li class="bold">
    <a class="waves-effect waves-teal"; onclick="displayRight(&quot;<%= p.id %>&quot;)">
      <%=p.name%>
    </a>
  </li>
  <%end%>
</ul>

<div border=0 cellspacing=0 cellpadding=0 id="hold_my_iframe">
  <iframe style="display: block; position: absolute; overflow:auto; top: 0px; left: 0px; padding-top: 70px; padding-bottom: 25px; text-align: center;" id="rightFrame" class="breweries_info" width=100% height=100% marginwidth=0 marginheight=0 frameborder=0></iframe>
</div>

<script>
function displayRight(id){
  //This needs to actually displayRight
  //window.location.href = "/pub/" + id;
  <% if @allData == 1%>
    document.getElementById("rightFrame").src = "/pub/" + id + "/" + <%= @bgid %>;
  <% else %>
    document.getElementById("rightFrame").src = "/pub/" + id;
  <% end %>
}


$('li > a').click(function() {
  $('li').removeClass();
  $(this).parent().addClass('active');
});

window.onload = checkWindow();
window.onload = $('.dropdown-button').dropdown();
$(window).resize(function() {
  checkWindow();
});
// optimize for mobile view
function checkWindow()
{
  var box = document.getElementById("rightFrame");
  if ($(window).width() <= 1024)
  {
    var logo = document.getElementById("logo");
    logo.setAttribute("class", 'brand-logo dropdown-button btn');
    logo.setAttribute("data-activates", 'dropdown1');
    logo.setAttribute("href", "javascript:void(0)");
    box.setAttribute("class", "breweries_info2");
    Materialize.toast('You are now on mobile view! Press the logo for a drop down menu!', 5000);
  }
  if ($(window).width() > 1024)
  {
    box.setAttribute("class", "breweries_info");
  }
};
</script>
