<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this account from being saved:</h2>

    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for :user, url: '/users' do |f| %>

  <%= f.label :username %>
  <%= f.text_field :username %>

  <br>

  <%= f.label :firstname %>
  <%= f.text_field :firstname %>

  <br>

  <%= f.label :lastname %>
  <%= f.text_field :lastname %>

  <br>

  <%= f.label :email %>
  <%= f.email_field :email %>

  <br>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <br>

  <%= f.label :password_confirmation, "Confirmation" %>
  <%= f.password_field :password_confirmation %>

  <br>

  <%= f.submit "Register" %>
<% end %>
