<% if current_user.id == @user.id or current_user.admin  %><!--- Remove current_user.admin to disallow admin editing of accounts -->

    <%=#The user edit form for their own profile.
  %>
  <%= form_for(@user) do |f| %>
    <%= render 'shared/error_messages' %>

    <p>
    <%= f.label :avatar %><br>
    <%= f.file_field :avatar %>
  	</p>


    <p>
    <%= f.label :username %>
    <%= f.text_field :username %>
    </p>

    <p>
    <%= f.label :firstname %>
    <%= f.text_field :firstname %>
    </p>

    <p>
    <%= f.label :lastname %>
    <%= f.text_field :lastname %>
    </p>

    <p>
    <%= f.label :email %>
    <%= f.email_field :email %>
    </p>

    <p>
    <%= f.label :password %>
    <%= f.password_field :password %>
    </p>

    <p>
    <%= f.label :password_confirmation, "confirmation" %>
    <%= f.password_field :password_confirmation %>
    </p>

    <%= f.submit "Update your account" %>
  <% end %>
<% else %>
  <h1>You don't have permission to edit another user's account!</h1>
<% end %>
