
<script>
function test(){
  document.getElementById("avatar").src = "<%= image_tag("/assets/defaultavatar2.png") %>";
}


</script>

<body>

<% provide(:title, @user.username) %>
<h1>
  <b>Welcome, </b><%= @user.username %>
</h1>

<div style = "margin-left:50px;">

</br>
</br>

<div id="avatar1">
  <%= image_tag("/assets/defaultavatar.png", :width =>100, :height => 100) %>
</div>
<div id="buttondiv">
  <button id="button" onclick="test()">Update Picture</button>
</div>

</br>
</br>

<p><b>Username: </b><%= @user.username %></p>
<p><b>First Name: </b><%= @user.firstname %></p>
<p><b>Last Name: </b><%= @user.lastname %></p>
<p><b>Email: </b><%= @user.email %></p>

</br>
</br>

</div>


<%= link_to "Edit your user profile", edit_user_path(current_user) %>
</br>
<%= link_to "Logout", '/logout' %>
</body>
