<%=#The display for a user - this is a placeholder, no real user profile yet exists, but this will eventually include a profile picture, as well as the user's information.
  %>

<% provide(:title, @user.username) %>
<h1>
  <%= gravatar_for @user %>
  <%= @user.username %>
</h1>

<%= @user.username %>
<%= @user.firstname %>
<%= @user.lastname %>
<%= @user.email %>
