<!DOCTYPE html>
<html>
<head>
  <title>BrewHub</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<p>Signup for BrewHUB!!!</p>
    <%= form_for(:user, :url => {:controller => 'users', :action => 'create'}) do |f| %>
      <p>Username<br><%= f.text_field :username%></p>
      <p>email<br><%= f.text_field :email%></p>
      <p>Password<br><%= f.password_field :password %></p>
      <p>Password Confirmation<br><%= f.password_field :password_confirmation %></p>
      <p>User type-- 0 for standars, 1 for admin<br><%= f.number_field(:userRole, in:0..1) %></p>
      <%= f.submit :Signup %>
    <% end %>
    <% if @user.errors.any? %>
      <ul class="Signup_Errors">
        <% for message_error in @user.errors.full_messages %>
          <li>* <%= message_error %></li>
        <% end %>
      </ul>
    <% end %>
</body>

</html>
