<a href="/groups">Return to all groups</a>
<h1><%= @group.name %></h1>
<body>
  <h4><p>Details about this group</p></h4>

  <% if current_user#eventually check for user membership %>
    <%= form_for :member, url: '/request_member' do |f| %>

      <%= f.label :email %>
      <%= f.text_field :name %>
      <br>
      <%= hidden_field_tag "gid", @group.id %>
      <%= f.submit "Request User" %>
    <% end %>
  <% end %>

  Members:<br>
  <% @sumLat = 0 %>
  <% @sumLon = 0 %>
  <% @count = 0 %>
  <% @allUsers.each do |u| %>
    <% u.group_id.each do |g| %>
      <% if @group.id == g %>
        <% if !u.name.blank? %>
          <p><%= u.name %> </p>
        <% else %>
          <p><%= u.username %> </p>
        <% end %>
          <p>
            <% @sumLat+=u.lat %> <% @sumLon+=u.lon %> <% @count+=1%>
          </p>
      <%end%>
    <%end%>
  <%end %>
  <% if @sumLat %>

  
    <!--average lat = <%= @avgLat %><br/>
    average lon = <%= @avgLon %><br/>-->    
    <%
    @curBrewery = Brewery.find(@group.brewery_id)
    %>
    
    <p>The currently selected destination is <%= @curBrewery.name%>, at <%= @curBrewery.address%>.</p>
    
    <a href="<%=@curBrewery.website%>"><%=@curBrewery.website%></a>
    
  
  <table>
    <%
    
    @brewsNearTheGroup = Brewery.near([@avgLat, @avgLon], 10, :units => :km )
      @brewsNearTheGroup.each do |bng|
        %>
        <p><%=bng.name%>, <%=bng.address%>, <a href="<%=bng.website%>"><%=bng.website%></a></p>
        <%
      end
    %>
  </table>
  <% end %>


  <br><br>
  Pending members:<br>
  <% @allUsers.each do |u| %>
    <% u.pending_group_id.each do |g| %>
      <% if @group.id == g %>
        <% if !u.name.blank? %>
          <p><%= u.name %></p>
        <% else %>
          <p><%= u.username %></p>
        <% end %>
      <%end%>
    <%end%>
  <%end %>
  <br><br>
  <div>
    <% if current_user && !current_user.name.blank? %>
      <div>
        <script src="https://www.shoutbox.com/chat/chat.js.php"></script>
        <script>var chat = new Chat(<%= @group.id %>,"<%=  current_user.name %>");</script>
      </div>
    <% elsif current_user && !current_user.username.blank? %>
      <div>
        <script src="https://www.shoutbox.com/chat/chat.js.php"></script>
        <script>var chat = new Chat(<%= @group.id %>,"<%=  current_user.username %>");</script>
      </div>
    <% end %>
    <style>
      .shoutBoxContainer {
      background-color: #ffe6e6;
      width: 35%;
      float: left;
      }
      .shoutInputRed{
      background-color: #ddd;
      }
    </style>
  </div>
</body>
