<h3>Groups</h3>
<body>
  <% if current_user %>
    <%= form_for :groups, url: '/groups' do |f| %>

      <%= f.label :name %>
      <%= f.text_field :name %>
      <br>

      <%= f.submit "Create Group" %>
    <% end %>
    <p>Member of the below Groups:</p>
    <% @allGroups.each do |g| %>
      <% current_user.group_id.each do |c| %>
        <% if c == g.id %>
          <p><a href="/group/<%=g.id%>"><%= g.name %></a>, <a href="/remove_self/<%=g.id%>">Leave Group!</a><p>
        <% end %>
      <% end %>
    <% end %>

    <br><p>Pending group memberships:</p>
    <% @allGroups.each do |g| %>
      <% current_user.pending_group_id.each do |c| %>
        <% if c == g.id %>
          <p><a href="/group/<%=g.id%>"><%= g.name %></a>, <a href="/accept_membership/<%=g.id%>">Accept Membership</a>, <a href="/deny_membership/<%=g.id%>">Deny Membership</a><p>
        <% end %>
      <% end %>
    <% end %>
  <% else %>
    <p>Sorry, you must first sign-in to be able to access group features!</p>
  <% end %>
<br>

</body>
