<!DOCTYPE html>
<html>
<head>
  <title>BrewHub</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body style="background-color: RGB(233,235,238)">

	<nav>
    <ul class="nav">
      <li style="float:left"><a href="/" class="logoclass"> <%=image_tag("/assets/LOGO.png", :alt => "Home Page", :width =>331, :height => 48, :class => "logo")%> </a></li>
      <li><a href="#">Breweries</a></li>
      <li><a href="#">Social</a></li>
      <% if current_user %>
        <li><a href="/users"><%= current_user.username %></a></li>
      <% else %>
        <li><a href="/login">Login</a></li>
      <% end %>
      <li class="icon">
        <a href="javascript:void(0);" style="font-size:15px;" onclick="myFunction()">☰</a>
      </li>
    </ul>
    </nav>

</body>

<div class="mainbox">
    <%= yield %>
</div>
</html>
