<!DOCTYPE html>
<html>
  <head>
    <title>BrewHub</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

<body style="background-color: RGB(112,71,39)">

	<nav>

    <ul>
      <!-- <li style = "float:left">
        <a class="logo" href="/"><%=image_tag("/assets/LOGO.png", :alt => "Home Page",
          :width=>300, :height =>43)%></a>
      </li> -->
      <li><a href="#">Breweries</a></li>
      <li><a href="#">Social</a></li>

      <% if current_user %>
        <li>
          <a href="/users"> <%= current_user.username %></a>
        </li>
      <% else %>
        <li>
          <a href="/login">Login</a>
        </li>
      <% end %>
    </ul>
      <!-- <div id="mainbanner">
        <ul>
          <li><a href="/" class="logoclass"> <%=image_tag("/assets/LOGO.png",
          :alt => "Home Page", :width =>300, :height => 43, :class => "logo")%> </a></li>


          <li class="menus"><a href="#">Breweries</a></li>
          <li class="menus"><a href="#">Social</a></li>

          <% if current_user %>
    	      <li class="menus"><a href="/users"><%= current_user.username %></a></li>
          <% else %>
	          <li class="menus"><a href="/login">Login</a></li>
          <% end %>

        </ul>
      </div> -->
  </nav>

</body>
</br>
<div id="mainbox">

    <%= yield %>
</div>
</html>
