<!DOCTYPE html>
<%=#Our display.  There's nothing exciting here, just styles and tags with our topbar.
%>
<html>
<head>
  <%= stylesheet_link_tag "https://fonts.googleapis.com/icon?family=Material+Icons" %>
 <meta name="google-site-verification" content="YNqAgQ4ZivsTSMaE2jt6KN38MWuI9gKxjBAkiXUqmkE" /> <!--Import Google Icon Font-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>BrewHub</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>


<div class="overlay" id="notificationCard">
  <div class="container">
    <div class="row">
      <div class="col s4 push-s4">
        <div class="card blue-grey darken-1">
          <div class="card-content white-text">
            <span class="card-title">Invitation</span>
            <p id="notePara">You should not be seeing this :x</p>
          </div>
          <div class="card-action">
            <a href="#" id="closeNotification">Join</a>
            <a href="#" id="denyNotification">Deny</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<body style="background-color: RGB(233,235,238)">

<div class="navbar-fixed">
  <nav class = "top-nav">
    <div class="nav-wrapper brown darken-2 white-text">
      <a href="/" class="brand-logo" style="margin-top:10px; margin-left:20px;"><%=image_tag("/assets/LOGO.png", :alt => "Home Page", :width =>331, :height => 48)%></a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
		<li><a href="/beers">Beer 101</a></li>
		<li><a href="/styles">Styles</a></li>
        <li><a href="/pubs">Breweries</a></li>
        <li><a href="/groups">Social</a></li>
        <% if current_user && !current_user.name.blank? %>
        <li><a href="/users/<%= current_user.id %>"><%=  current_user.name %></a></li>
        <% elsif current_user %>
        <li><a href="/users/<%= current_user.id %>"><%= current_user.username %></a></li>
        <% else %>
        <li><a href="/login">Login</a></li>
        <% end %>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="/beers">Beer 101</a></li>
		<li><a href="/styles">Styles</a></li>
        <li><a href="/pubs">Breweries</a></li>
        <li><a href="/groups">Social</a></li>
        <% if current_user && !current_user.name.blank? %>
        <li><a href="/users/<%= current_user.id %>"><%= current_user.name %></a></li>
        <% elsif current_user %>
        <li><a href="/users/<%= current_user.id %>"><%= current_user.username %></a></li>
        <% else %>
        <li><a href="/login">Login</a></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<div id="fadingWrapper"></div>

</div>

<!-- <div class="overlay" id="notificationCard">
<a href="javascript:void(0)" id="closeNotification">CLOSE</a>
<p>Lorem ipsum</p>
</div> -->



  <script>
  function openNoti()
  {
    $('#fadingWrapper').append("<div class='fadingInBlack' id='fadingBlack'></div>")
    $("#notificationCard").removeClass("movedown").addClass("moveup");
  };

  function closeNoti()
  {
    var hue = document.getElementById('fadingBlack');
    $("#notificationCard").removeClass("moveup").addClass("movedown");
    $("#fadingBlack").attr("class", "fadingOutBlack");
    console.log(hue);
    $("div").on(
      "transitionend MSTransitionEnd webkitTransitionEnd oTransitionEnd",
      function() {
        // if (!hue)
        // {
        //   return false;
        // }
        hue.parentNode.removeChild(hue);
        console.log("here");
        if (!hue)
        {
          return false;
        }
      }
    );
  };

  $(document).ready(function() {
    $(".button-collapse").sideNav();
    // SHOWS DIV
    $("a[id^=openNotification]").click(function () {
      openNoti();
    });

    //--------------------
    <% @allGroups = Group.all %>

    <% if current_user %>
    {
      <% @allGroups.each do |g| %>
        <% current_user.pending_group_id.each do |c| %>
          <% if c == g.id %>
            document.getElementById("closeNotification").setAttribute("href", "/accept_membership/<%=g.id%>");
            document.getElementById("denyNotification").setAttribute("href", "/deny_membership/<%=g.id%>");
            var name = "<%= g.name %>";
            document.getElementById("notePara").innerHTML = "You have been invited to join the group \"" + name + "\". Would you like to join?";
            openNoti();
          <% end %>
        <% end %>
      <% end %>
    }
    <% end %>
    //--------------------

    // HIDES DIV
    $("a[id^=closeNotification]").click(function (){
      closeNoti();
    });
  });

  // function fadeOut()
  // {
  //   let box = document.getElementById("fadingBlack");
  //   let alpha = 1;
  //   // window.setInterval(function(){
  //   //   while (alpha >= 0)
  //   //   {
  //   //     console.log(box.style.backgroundColor);
  //   //     box.style.backgroundColor = 'RGBA(0,0,0,' + alpha + ')';
  //   //     alpha-=0.1;
  //   //   }
  //   // }, 75);
  //   $('#fadingBlack').animate({ "backgroundColor" : "rgba(0,0,0, .1)"}, 400)
  // };

  </script>
<%
if current_user
  current_user.lat = request.location.latitude
  current_user.lon = request.location.longitude
  #current_user.lat = 49.278094
  #current_user.lon = -122.919883
  #unless current_user.lat.to_f == 0.0 && current_user.lat.to_f == 0.0
  current_user.save
  #end
end
%>
</body>
<div id="mainbox">
  <!-- <p><a href="javascript:void(0)" id="open_001">item 01:</a> Lorem ipsum</p> -->
  <%= yield %>
</div>
</html>
