<!DOCTYPE html>
<html>
<head>
  <title>BrewHub</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body style="background-color: RGB(112,71,39)">

	<nav>
      <div id="mainbanner">
        <ul>
          <li><a href="/" class="logoclass"> <%=image_tag("/assets/LOGO.png", :alt => "Home Page", :width =>394, :height => 57, :class => "logo")%> </a></li>
                   
          
          <li class="menus"><a href="#">Breweries</a></li>
          <li class="menus"><a href="#">Social</a></li>
          <li class="menus"><a href="/login">Login</a></li>
        </ul>
      </div>
    </nav>

</body>

<div id="mainbox">
    <%= yield %>
</div>
</html>
